.container{
	max-width: 960px;
	padding: 0 10px;
	margin: 0 auto;
}
.header{
	position:absolute;
	top:25px;
	padding: 25px 0;
	width:100%;
	right:0;
	left:0;
}
.home{
	min-height: 1px;
	background: #222 url(../img/home-bg.jpg) no-repeat center bottom;
	-webkit-background-size: cover;
	-o-background-size: cover;
	-moz-background-size: cover;
	background-size: cover;
	padding-top:270px;
	padding-bottom: 160px;
	text-align: center;
	color:#fff;
	font-family: Arial, sans-serif;
}
.nav li{
	margin-right:40px;
	display: inline-block;
	padding-top: 8px;
}
.nav li:last-child{margin-right:0;}
.nav a:hover{color:#fed136;}
.nav a{
	text-transform:uppercase;
	font: 14px Arial, sans-serif;
	color:#fff;
}
.home h3{
	font-size: 40px;
	margin-bottom:68px;
	line-height: 1.2;
}
.home h1{
	font-size: 75px;
	text-transform: uppercase;
	margin-bottom:74px;
	line-height: 1.2;
}
.btn{
	display: inline-block;
	background: #fed136;
	padding: 20px 30px;
	font: bold 24px Arial, sans-serif;
	text-transform: uppercase;
	color:#fff;
	cursor: pointer;
	-webkit-border-radius:3px;
	-o-border-radius:3px;
	-moz-border-radius:3px;
	border-radius:3px;
	border:none;
}
.btn:hover{
	background:#dfb72e;
	transition: 0.5s;
}
/*Service*/
.box{
	padding: 70px 0;
}
.services{
	text-align: center;
}
.title{
	font:bold 40px/40px Arial, sans-serif;
	color:#222;
	text-transform: uppercase;
	margin-bottom: 15px;

}		
.descr{
	font: 16px Times New Roman, sans-serif;
	color:#777;
	margin-bottom: 80px;
}
h5.caption{
	font:bold 18px/18px Arial, sans-serif;
	color:#222;
	margin-bottom: 15px;
}
p.caption{
	font:18px Times New Roman, sans-serif;
	color:#777;
}
.services-item{
	width:33.33%;
	line-height: 1.3;
	margin-bottom: 10px;
	padding:95px 30px 0;
}
.commerce{
	background: url(../img/Icon-Basket.png) no-repeat center top;
}
.responsive{
	background: url(../img/Icon-Laptop.png) no-repeat center top;
}
.security{
	background: url(../img/Icon-Locked.png) no-repeat center top;
}
/*Portfolio*/
.portfolio{
	text-align: center;
	background: #f7f7f7;
	
}
.portfolio-item{
	float: left;
	overflow:  hidden;
	width:29%;
	height: auto;
	margin: 0 1.8%;
	background: #fff;
	margin-bottom: 50px;
}
.portfolio-item a{
	width: 100%;
	height: auto;
	display: block;
}
.portfolio-item a img{
	vertical-align: bottom;
	width: 100%;
	height: auto;
}
.portfolio-caption h5{
	font:bold 18px/18px Arial, sans-serif;
	color:#333333;
	margin-bottom: 10px;
	}
span{
	font: 14px/14px Times New Roman, sans-serif;
	color:#777;
}
.portfolio-caption{
	padding:25px 0;
}
/*About*/
.about{
	text-align: center;
}
.txt-rgt{
	text-align: right;
}
.txt-left{
	text-align: left;
}
.about-text{
	width:35%;
}
.about-img{
	width:30%;
}
.about-caption{
	font:bold 18px/26px Arial, sans-serif;
	color:#222222;
	margin-bottom: 5px;
}
.about-descr{
	font: 18px/24px Times New Roman, sans-serif;
	color:#777;
}
.about-img img, .about-link{
	height:176px;
	width:176px;
	border:7px solid #f1f1f1;
	
	-webkit-border-radius: 50%;
		-o-border-radius: 50%;
			-moz-border-radius: 50%;
				border-radius: 50%;

	margin-bottom:-7px;
}
.about-img:after{
	content:"";
	display:block;
	margin:0 auto;
	height:97px;
	width: 3px;
	background: #f1f1f1;
}
.about-link{
	margin:0 auto;
	text-transform: uppercase;
	background: #fed136;
	padding-top:35px;
}
.about-link a{
	font:bold 18px/27px Arial, sans-serif;
	color: #fff;
	text-shadow:1px 1px 1px #fec123;
}
/*Team*/
.team{
	background: #f9f9f9;
	text-align: center;
	font:  14px/22px Times New Roman, sans-serif;
	color:#777777;
}
.team-wrap{
	padding:0 30px;
	margin-bottom:50px;
}
.team-item{
	width: 33%;
}
.team-item img{
	border:7px solid #fff;
	border-radius: 50%;
	-webkit-border-radius: 50%;
	-o-border-radius: 50%;
	-moz-border-radius: 50%;
	margin-bottom:10px;
}
.team-capt{
	font:bold 18px/24px Arial, sans-serif;
	color:#222222;
	
}
.social{
	margin-top: 9px;
}
.social a{
	display: inline-block;
	width: 40px;
	height: 40px;
	border:3px solid #222;
	border-radius: 50%;
	-webkit-border-radius: 50%;
	-o-border-radius: 50%;
	-moz-border-radius: 50%;
	background: url(../img/social-sprite.png) no-repeat;
}
.social a:nth-of-type(2){
	margin: auto 6px;
}
.social a.icon-tw{
	background-position: 0 0;
}
.social a.icon-tw:hover{
	background-position: 0 -40px;
	background-color: #00aced;
	border-color: #00aced;
}
.social a.icon-fb{
	background-position: -41px -1px;
}
.social a.icon-fb:hover{
	background-position: -41px -41px;
	background-color: #3b5998;
	border-color: #3b5998;
}
.social a.icon-pn{
	background-position: -80px -2px;
}
.social a.icon-pn:hover{
	background-position: -80px -42px;
	background-color: #cb2028;
	border-color: #cb2028;
}
.social a.icon-gl{
	background-position: -120px 0px;
}
.social a.icon-gl:hover{
	background-position: -120px -40px;
	background-color: #d95232;
	border-color: #d95232;
}
.team-descr{
	font: 16px/24px Times New Roman, sans-serif;
	color:#777;
}
.brand{
	padding-top:50px;
	text-align: center;
}
.brand a{
	display: inline-block;
}
.brand li{
	padding:80px;
}
.brand img{
	vertical-align: middle;
}
/*Contact*/
.contact{
	text-align: center;
	background: #222 url(../img/map.png) no-repeat right bottom;
}
.contact .title{
	color:#fff;
}
.message .left,
.message .right{
	width:48%;
}
.message input[type="text"],
.message textarea{
	width:100%;
	margin-bottom: 30px;
	padding: 15px 20px;
	background: #fff;
	border-radius:4px;
	-webkit-border-radius:4px;
	-o-border-radius:4px;
	-moz-border-radius: 4px;
	box-shadow: none;
	font:bold 14px/14px Arial, sans-serif;
	color:#222;
}
.message input[type="text"]{
	height:50px;
	border:1px solid #ccc;
}
.message textarea{
	border:none;
	height:210px;
	resize:none;
}
::-webkit-input-placeholder{
	font:bold 14px/14px Arial, sans-serif;
	color:#bbb;
	text-transform: uppercase;
}
::-moz-placeholder{
	font:bold 14px/14px Arial, sans-serif;
	color:#bbb;
	text-transform: uppercase;
}
/*Copyright*/
.copyright{
	padding:25px 0;
}
.copyright .social{
	margin-top:0;
	margin-left: 365px;
}
.copyright .social a{
	margin:0;
	margin-right: 6px;
}
.copyright p{
	font:14px Arial, sans-serif;
	color:#555;
	margin-top:15px;
}
.social a.black{
	background-color: #222;
}
.social a.icon-tw.black{
	background-position: 0 -40px;}
.social a.icon-fb.black{
	background-position: -41px -41px;}
.social a.icon-pn.black{
	background-position: -80px -42px;}
.social a.icon-gl.black{
	background-position: -120px -40px;}

@media only screen and (max-width:768px){
	.header{
		text-align: center;
	}
	.header .logo,
	.header .nav{
		float: none;
		text-align: center;
		margin: 0 auto;
	}
	.header .nav{
		width: 100%;
		display: inline-block;
	}
	.header .nav li a{
		font-size: 12px;
	}
	.nav li:last-child,
	.nav li{
		margin: 10px;
	}
	.home h1{
		display: none;
	}

	.services.box,
	.portfolio.box,
	.about.box,
	.team.box,
	.contact.box{
		padding: 40px 10px;
	}
	.services.box .descr,
	.portfolio.box .descr,
	.about.box .descr,
	.team.box .descr,
	.contact.box .descr{
		margin-bottom: 40px;
	}

	.services-item,
	.about-item,
	.about-text,
	.about-img,
	.team-item,
	.copyright,
	.social,
	.copyright p{
		float: none;
		width: 100%;
		margin-bottom: 20px;
	}

	.portfolio-item{
		margin: 10px;
		width: 45%;
	}

	.about-img::after{
		display: none;
	}
	.about-text{
		text-align: center;
	}
	.team-wrap{
		padding: 0;
		width: 100%;
	}
	.team-item{
		text-align: center;
	}

	.brand{
		display: none;
	}
	.copyright{
		text-align: center;
	}
	.copyright .social{
		margin: 0;
	}

}
@media only screen and (max-width:480px){
	.portfolio-item{
		float: none;
		width: 100%;
		margin: 0;
		margin-bottom: 20px;
	}

	.contact.box form .left,
	.contact.box form .right{
		float: none;
		width: 100%;
	}
	.contact.box form input[type="submit"]{
		width: 100%;
		font-size: 18px;
	}
}