/*footer*/
.img {
  overflow: hidden; }
  .img img {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out; }

.img:hover > img {
  -webkit-transform: scale(1.2);
  transform: scale(1.2); }

body {
  background: #f3f3f3;
  font: 15px "Lato", Arial, Tahoma, sans-serif; }

.center {
  max-width: 1190px;
  padding: 0 10px;
  margin: 0 auto; }

/*header*/
header {
  min-height: 115px;
  width: 100%;
  background: #222222;
  padding-top: 18px;
  /*header-items*/
  /*header-item*/ }
  header .logo {
    float: left; }
    header .logo a {
      display: block; }
  header .header-items {
    float: right;
    /*user-info*/ }
    header .header-items .user-info {
      float: right;
      display: block; }
      header .header-items .user-info li {
        display: inline-block; }
        header .header-items .user-info li a {
          display: block;
          font: 15px "Lato", Arial, Tahoma, sans-serif;
          font-size: 12px;
          color: #fff; }
      header .header-items .user-info li + li > a {
        border-left: 1px solid white;
        padding: 0 15px; }
      header .header-items .user-info li:first-child > a {
        padding-right: 15px; }
  header .header-item {
    float: right;
    margin-top: 24px;
    /*search*/ }
    header .header-item .search {
      float: right;
      /*form*/ }
      header .header-item .search form {
        position: relative;
        width: 585px;
        height: 37px; }
        header .header-item .search form input[type="text"] {
          width: 100%;
          height: 37px;
          border-radius: 4px;
          -moz-border-radius: 4px;
          -webkit-border-radius: 4px;
          border: none;
          font: 15px "Lato", Arial, Tahoma, sans-serif;
          color: #a7a7a7;
          padding-left: 26px; }
        header .header-item .search form input[type="submit"] {
          position: absolute;
          right: 0;
          top: 0;
          width: 54px;
          height: 37px;
          border-radius: 0px 4px 4px 0px;
          -moz-border-radius: 0px 4px 4px 0px;
          -webkit-border-radius: 0px 4px 4px 0px;
          border: none;
          background: #f10e34 url(../img/icons.png) no-repeat 20px 12px;
          cursor: pointer; }
    header .header-item .cart {
      float: right;
      margin-left: 42px; }
      header .header-item .cart span {
        display: inline-block;
        color: #fff;
        vertical-align: top; }
        header .header-item .cart span h6 {
          text-transform: uppercase;
          font-size: 11px; }
        header .header-item .cart span p {
          font-size: 14px; }
      header .header-item .cart .icon {
        width: 37px;
        height: 37px;
        border-radius: 50%;
        -moz-border-radius: 50%;
        -webkit-border-radius: 50%;
        background: #f10e34 url(../img/icons.png) no-repeat 10px -17px;
        transition: 0.4s ease all; }
      header .header-item .cart .icon:hover {
        background-color: #ffc808; }

/*header*/
/*nav*/
nav {
  background: #f10e34;
  position: relative; }
  nav ul {
    width: 100%; }
  nav ul > li {
    display: inline-block; }
    nav ul > li a {
      color: #fff;
      text-transform: uppercase;
      display: block; }
    nav ul > li .dropdown {
      display: inline-block; }
      nav ul > li .dropdown a {
        padding: 17px 20px; }
      nav ul > li .dropdown .dropdown-content {
        display: none;
        position: absolute;
        background-color: #f10e34;
        width: auto;
        z-index: 1; }
        nav ul > li .dropdown .dropdown-content a {
          padding: 5px 20px 20px 20px;
          text-decoration: none;
          display: inline-block;
          text-transform: capitalize; }
        nav ul > li .dropdown .dropdown-content a:hover {
          text-decoration: underline; }
    nav ul > li .dropdown:hover .dropdown-content {
      display: inline-block; }
    nav ul > li .dropdown:hover a {
      background-color: #f10e34; }
  nav .nav-categories {
    padding: 17px 15.6% 20px 20px; }
    nav .nav-categories .menu{display: none; cursor: pointer;}
    nav .nav-categories .menu div{
      width: 30px;
      height: 3px;
      background: #fff;
       }
      nav .nav-categories .menu div+div{
        margin-top: 9px;
      }
    nav .nav-categories a {
      font-weight: bold; }
      nav .nav-categories a span {
        display: inline-block;
        width: 16px;
        height: 13px;
        background: #f10e34 url(../img/icons.png) no-repeat 0px -59px;
        margin-right: 16px; }

/*main*/
/*categories*/
.item-container, .categories, .first-column .hot-deals, .first-column .special-deal, .first-column .newsletters, .first-column .ad, .second-column .new-products, .second-column .latest-products, .second-column .featured, .second-column .sale .sale-item, .second-column .offer {
  background: #fff;
  box-shadow: 0 0 7px rgba(0, 0, 0, 0.03);
  -webkit-box-shadow: 0 0 7px rgba(0, 0, 0, 0.03);
  -moz-box-shadow: 0 0 7px rgba(0, 0, 0, 0.03);
  font: 15px "Lato", Arial, Tahoma, sans-serif;
  margin-top: 30px; }
  .item-container .heading, .categories .heading, .first-column .hot-deals .heading, .first-column .special-deal .heading, .first-column .newsletters .heading, .first-column .ad .heading, .second-column .new-products .heading, .second-column .latest-products .heading, .second-column .featured .heading, .second-column .sale .sale-item .heading, .second-column .offer .heading {
    border-bottom: 1px solid #eaeaea;
    padding-bottom: 22px; }
    .item-container .heading h5, .categories .heading h5, .first-column .hot-deals .heading h5, .first-column .special-deal .heading h5, .first-column .newsletters .heading h5, .first-column .ad .heading h5, .second-column .new-products .heading h5, .second-column .latest-products .heading h5, .second-column .featured .heading h5, .second-column .sale .sale-item .heading h5, .second-column .offer .heading h5 {
      float: left;
      font-weight: bold;
      font-size: 22px;
      text-transform: uppercase; }
    .item-container .heading .arrows, .categories .heading .arrows, .first-column .hot-deals .heading .arrows, .first-column .special-deal .heading .arrows, .first-column .newsletters .heading .arrows, .first-column .ad .heading .arrows, .second-column .new-products .heading .arrows, .second-column .latest-products .heading .arrows, .second-column .featured .heading .arrows, .second-column .sale .sale-item .heading .arrows, .second-column .offer .heading .arrows {
      float: right; }
      .item-container .heading .arrows .prev, .categories .heading .arrows .prev, .first-column .hot-deals .heading .arrows .prev, .first-column .special-deal .heading .arrows .prev, .first-column .newsletters .heading .arrows .prev, .first-column .ad .heading .arrows .prev, .second-column .new-products .heading .arrows .prev, .second-column .latest-products .heading .arrows .prev, .second-column .featured .heading .arrows .prev, .second-column .sale .sale-item .heading .arrows .prev, .second-column .offer .heading .arrows .prev {
        background-color: #cacaca;
        background-position: 5px -93px; }
      .item-container .heading .arrows .next, .categories .heading .arrows .next, .first-column .hot-deals .heading .arrows .next, .first-column .special-deal .heading .arrows .next, .first-column .newsletters .heading .arrows .next, .first-column .ad .heading .arrows .next, .second-column .new-products .heading .arrows .next, .second-column .latest-products .heading .arrows .next, .second-column .featured .heading .arrows .next, .second-column .sale .sale-item .heading .arrows .next, .second-column .offer .heading .arrows .next {
        background-color: #cacaca;
        background-position: 7px -112px; }
      .item-container .heading .arrows button, .categories .heading .arrows button, .first-column .hot-deals .heading .arrows button, .first-column .special-deal .heading .arrows button, .first-column .newsletters .heading .arrows button, .first-column .ad .heading .arrows button, .second-column .new-products .heading .arrows button, .second-column .latest-products .heading .arrows button, .second-column .featured .heading .arrows button, .second-column .sale .sale-item .heading .arrows button, .second-column .offer .heading .arrows button {
        width: 22px;
        height: 22px;
        border-radius: 50%;
        -moz-border-radius: 50%;
        -webkit-border-radius: 50%;
        border: none;
        background: url(../img/icons.png) no-repeat;
        cursor: pointer;
        transition: 0.5s ease all; }
      .item-container .heading .arrows button:hover, .categories .heading .arrows button:hover, .first-column .hot-deals .heading .arrows button:hover, .first-column .special-deal .heading .arrows button:hover, .first-column .newsletters .heading .arrows button:hover, .first-column .ad .heading .arrows button:hover, .second-column .new-products .heading .arrows button:hover, .second-column .latest-products .heading .arrows button:hover, .second-column .featured .heading .arrows button:hover, .second-column .sale .sale-item .heading .arrows button:hover, .second-column .offer .heading .arrows button:hover {
        background-color: #f10e34; }

.categories {
  float: left;
  padding: 0 14px;
  width: 25.5%;
  margin-right: 3.16%;
  margin-top: 0; }
  .categories a {
    color: #222222;
    font: 15px "Lato", Arial, Tahoma, sans-serif;
    display: inline-block;
    width: 100%;
    border-bottom: 1px solid #eaeaea;
    padding: 16px 0 17px 14px; }
    .categories a span {
      display: inline-block;
      width: 13px;
      height: 15px;
      background: url(../img/icons.png) no-repeat no-repeat 0px -77px;
      vertical-align: top;
      margin-right: 20px; }
  .categories a:hover {
    font-weight: 700; }
  .categories li:last-child a {
    border-bottom: none; }

/*slider*/
.slider-container {
  float: left;
  width: 71.3%;
  background: #eee;
  position: relative; }
  .slider-container .heading {
    position: absolute;
    left: 31px;
    top: 84px;
    text-transform: uppercase;
    text-align: center;
    font-weight: 900; }
    .slider-container .heading span {
      color: #303a7a;
      font-size: 38px; }
    .slider-container .heading h1 {
      color: #fff;
      font-size: 60px;
      line-height: 58px; }
    .slider-container .heading p {
      color: #fff;
      font-size: 22px;
      line-height: 34px; }
    .slider-container .heading button {
      font: 15px "Lato", Arial, Tahoma, sans-serif;
      text-transform: uppercase;
      font-size: 17px;
      font-weight: bold;
      background: transparent;
      border: 2px solid #000;
      padding: 10px 25px;
      margin-top: 41px;
      cursor: pointer;
      transition: 0.2s ease-in all; }
    .slider-container .heading button:hover {
      background: #000;
      color: #fff; }
  .slider-container .slider {
    width: 100%; }
  .slider-container .caption {
    height: 79px;
    width: 100%;
    background: #f10e34;
    text-align: center; }
    .slider-container .caption .caption-items {
      display: inline-block;
      padding-top: 22px; }
      .slider-container .caption .caption-items .caption-item {
        float: left;
        font: 15px "Lato", Arial, Tahoma, sans-serif;
        color: #fff; }
        .slider-container .caption .caption-items .caption-item h5 {
          text-transform: uppercase;
          font-weight: bold;
          letter-spacing: 3px; }
      .slider-container .caption .caption-items .caption-item + .caption-item {
        margin-left: 88px; }

/*.first-column*/
.product-container, .first-column .hot-deals, .first-column .special-deal, .first-column .newsletters, .second-column .new-products, .second-column .latest-products, .second-column .featured {
  padding: 25px 23px 35px;
  color: #3d3d3d; }

.red-button, .first-column .newsletters input[type="submit"], .second-column .offer button {
  background: #f10e34;
  border: none;
  color: #fff;
  font-weight: bold;
  font-size: 16px;
  text-transform: uppercase;
  border-radius: 20px;
  -moz-border-radius: 20px;
  -webkit-border-radius: 20px;
  width: 133px;
  height: 46px;
  cursor: pointer;
  transition: 0.2s ease-in all; }

.red-button:hover, .first-column .newsletters input[type="submit"]:hover, .second-column .offer button:hover {
  background: #000; }

.first-column {
  float: left;
  width: 25.5%;
  margin-right: 3.16%; }
  .first-column .hot-deals, .first-column .special-deal, .first-column .newsletters {
    width: 100%;
    height: auto; }
    .first-column .hot-deals a img, .first-column .special-deal a img, .first-column .newsletters a img {
      margin-top: 26px;
      width: 100%;
      height: auto; }
    .first-column .hot-deals p, .first-column .special-deal p, .first-column .newsletters p, .first-column .hot-deals .stars, .first-column .special-deal .stars, .first-column .newsletters .stars {
      text-align: center;
      margin-top: 12px; }
      .first-column .hot-deals p s, .first-column .special-deal p s, .first-column .newsletters p s, .first-column .hot-deals .stars s, .first-column .special-deal .stars s, .first-column .newsletters .stars s {
        color: #636363; }
      .first-column .hot-deals p b, .first-column .special-deal p b, .first-column .newsletters p b, .first-column .hot-deals .stars b, .first-column .special-deal .stars b, .first-column .newsletters .stars b {
        color: #000; }
    .first-column .hot-deals img, .first-column .special-deal img, .first-column .newsletters img {
      display: inline-block; }
    .first-column .hot-deals .stars img, .first-column .special-deal .stars img, .first-column .newsletters .stars img {
      margin-top: 0; }
  .first-column .newsletters {
    text-align: left;
    padding-bottom: 31px; }
    .first-column .newsletters p {
      color: #3d3d3d;
      text-align: left;
      margin-top: 22px; }
    .first-column .newsletters input {
      margin-top: 22px; }
    .first-column .newsletters input[type="email"] {
      background: #f3f3f3;
      border: none;
      width: 100%;
      height: 45px;
      border-radius: 5px;
      -moz-border-radius: 5px;
      -webkit-border-radius: 5px;
      padding-left: 10px;
      font-style: italic; }
  .first-column .ad img {
    width: 100%;
    height: auto; }

/*.second-column*/
.second-column {
  float: left;
  width: 71.3%;
  /*.sale*/ }
  .second-column .new-products, .second-column .latest-products, .second-column .featured {
    width: 100%;
    height: auto; }
    .second-column .new-products img, .second-column .latest-products img, .second-column .featured img {
      margin-top: 26px; }
    .second-column .new-products ul, .second-column .latest-products ul, .second-column .featured ul {
      float: right;
      margin-right: 47px; }
      .second-column .new-products ul li, .second-column .latest-products ul li, .second-column .featured ul li {
        display: inline-block; }
        .second-column .new-products ul li a, .second-column .latest-products ul li a, .second-column .featured ul li a {
          color: #3d3d3d;
          display: block; }
        .second-column .new-products ul li a:hover, .second-column .latest-products ul li a:hover, .second-column .featured ul li a:hover {
          text-decoration: underline; }
      .second-column .new-products ul li + li, .second-column .latest-products ul li + li, .second-column .featured ul li + li {
        margin-left: 25px; }
    .second-column .new-products .items, .second-column .latest-products .items, .second-column .featured .items {
      text-align: center; }
      .second-column .new-products .items .item, .second-column .latest-products .items .item, .second-column .featured .items .item {
        margin-top: 27px;
        display: inline-block;
        width: 22%;
        height: auto; }
        .second-column .new-products .items .item a, .second-column .latest-products .items .item a, .second-column .featured .items .item a {
          display: block;
          color: #3d3d3d; }
          .second-column .new-products .items .item a .img img, .second-column .latest-products .items .item a .img img, .second-column .featured .items .item a .img img {
            width: 100%;
            height: auto; }
      .second-column .new-products .items .item + .item, .second-column .latest-products .items .item + .item, .second-column .featured .items .item + .item {
        margin-left: 3.1%; }
    .second-column .new-products p, .second-column .latest-products p, .second-column .featured p, .second-column .new-products .stars, .second-column .latest-products .stars, .second-column .featured .stars {
      text-align: center;
      margin-top: 12px; }
      .second-column .new-products p s, .second-column .latest-products p s, .second-column .featured p s, .second-column .new-products .stars s, .second-column .latest-products .stars s, .second-column .featured .stars s {
        color: #636363; }
      .second-column .new-products p b, .second-column .latest-products p b, .second-column .featured p b, .second-column .new-products .stars b, .second-column .latest-products .stars b, .second-column .featured .stars b {
        color: #000; }
    .second-column .new-products img, .second-column .latest-products img, .second-column .featured img {
      display: inline-block;
      margin-top: 0; }
  .second-column .sale .sale-item {
    float: left;
    width: 47.3%;
    position: relative;
    overflow: hidden; }
    .second-column .sale .sale-item img {
      height: 231px;
      width: auto; }
    .second-column .sale .sale-item .heading {
      width: 162px;
      height: 100%;
      background: #fff;
      position: absolute;
      right: 0;
      top: 0;
      border-bottom: none; }
      .second-column .sale .sale-item .heading .border {
        width: 0;
        height: 0;
        border-bottom: 231px solid #fff;
        border-left: 73px solid transparent;
        position: absolute;
        left: -73px;
        top: 0; }
      .second-column .sale .sale-item .heading .title {
        position: absolute;
        right: 25px;
        top: 42px;
        text-align: right; }
        .second-column .sale .sale-item .heading .title h4 {
          font-weight: 900;
          color: #dfdbdc;
          font-size: 50px;
          text-transform: uppercase; }
        .second-column .sale .sale-item .heading .title p {
          font-size: 15px;
          font-weight: 900;
          color: #292929;
          letter-spacing: 1.65px;
          text-transform: uppercase;
          margin-bottom: 20px; }
        .second-column .sale .sale-item .heading .title a {
          font-weight: 900;
          color: #128aeb;
          font-size: 14px;
          letter-spacing: 0.84px;
          text-transform: uppercase;
          text-decoration: underline; }
        .second-column .sale .sale-item .heading .title span {
          margin-top: 17px;
          display: block;
          font-size: 13px;
          color: #c2bcbc; }
  .second-column .sale .sale-item + .sale-item {
    margin-left: 4.8%; }
  .second-column .offer {
    background: #fff url(../img/img-14.jpg) no-repeat 0px 20px;
    padding: 33px 40px 58px 10px; }
    .second-column .offer .heading {
      float: right;
      border: none;
      padding: 0; }
    .second-column .offer button {
      margin-top: 20px; }
    .second-column .offer .blue {
      color: #0f8ce9; }
  .second-column .featured {
    padding-bottom: 0;
    margin-bottom: 70px; }
    .second-column .featured .items .item {
      margin-right: 27px;
      margin-bottom: 55px;
      width: auto; }
      .second-column .featured .items .item a img, .second-column .featured .items .item a .caption {
        float: left;
        vertical-align: top;
        transition: 0.4s ease-in-out all; }
      .second-column .featured .items .item a img:hover {
        -webkit-transform: scale(1.2);
        transform: scale(1.2); }
      .second-column .featured .items .item a .caption {
        margin-left: 18px; }
        .second-column .featured .items .item a .caption p, .second-column .featured .items .item a .caption .stars {
          text-align: left; }
        .second-column .featured .items .item a .caption p:first-of-type {
          margin-top: 0; }
    .second-column .featured .items .item + .item {
      margin-left: 0; }

/*.second-column*/
.brands {
  background: #f10e34;
  text-align: center;
  padding: 40px 0; }
  .brands .img {
    display: inline-block;
    vertical-align: middle;
    width: 9.5%; }
    .brands .img img {
      width: 100%;
      height: auto;
      -webkit-transform: none;
      transform: none; }
  .brands .img + .img {
    margin-left: 8%; }

footer {
  font: 14px/24px "Lato", Arial, Tahoma, sans-serif;
  color: #b6b6b6;
  /*first-row*/
  /*second-row*/ }
  footer .first-row {
    background: #222222;
    /*contacts*/
    /*information*/
    /*social*/ }
    footer .first-row .contacts {
      margin-top: 61px;
      float: left;
      width: 23%; }
      footer .first-row .contacts .logo {
        margin-bottom: 13px; }
      footer .first-row .contacts ul {
        margin-top: 22px; }
        footer .first-row .contacts ul li, footer .first-row .contacts ul span {
          display: inline-block;
          vertical-align: text-bottom; }
        footer .first-row .contacts ul .checkin, footer .first-row .contacts ul .phone, footer .first-row .contacts ul .email {
          width: 14px;
          height: 13px;
          background: url(../img/icons.png) no-repeat no-repeat -3px -134px;
          margin-right: 15px; }
        footer .first-row .contacts ul .phone {
          background-position: -3px -166px; }
        footer .first-row .contacts ul .email {
          background-position: -3px -198px; }
    footer .first-row .information, footer .first-row .social, footer .first-row .opening {
      margin-left: 7%;
      margin-top: 85px;
      float: left;
      width: 9.2%; }
      footer .first-row .information h3, footer .first-row .social h3, footer .first-row .opening h3 {
        font: bold 15px "Lato", Arial, Tahoma, sans-serif;
        color: #fff;
        text-transform: uppercase; }
      footer .first-row .information ul, footer .first-row .social ul, footer .first-row .opening ul {
        margin-top: 18px; }
        footer .first-row .information ul li a, footer .first-row .social ul li a, footer .first-row .opening ul li a {
          color: #b6b6b6;
          line-height: 30px; }
    footer .first-row .social {
      margin-left: 8%;
      width: 23.7%; }
      footer .first-row .social .social-items {
        width: 100%; }
        footer .first-row .social .social-items ul + ul {
          margin-left: 21%; }
        footer .first-row .social .social-items ul {
          float: left;
          display: block; }
          footer .first-row .social .social-items ul li .google, footer .first-row .social .social-items ul li .pin, footer .first-row .social .social-items ul li .vimeo, footer .first-row .social .social-items ul li .inst, footer .first-row .social .social-items ul li .fb, footer .first-row .social .social-items ul li .tw, footer .first-row .social .social-items ul li .rss, footer .first-row .social .social-items ul li .ytb {
            width: 17px;
            height: 16px;
            display: inline-block;
            background: url(../img/icons.png) no-repeat no-repeat -2px -222px;
            vertical-align: middle;
            margin-right: 10px; }
          footer .first-row .social .social-items ul li .pin {
            background-position: -2px -251px; }
          footer .first-row .social .social-items ul li .vimeo {
            background-position: -2px -282px; }
          footer .first-row .social .social-items ul li .inst {
            background-position: -2px -312px; }
          footer .first-row .social .social-items ul li .fb, footer .first-row .social .social-items ul li .tw, footer .first-row .social .social-items ul li .rss, footer .first-row .social .social-items ul li .ytb {
            background-position: -44px -265px;
            margin-right: 12px; }
          footer .first-row .social .social-items ul li .tw {
            background-position: -44px -295px; }
          footer .first-row .social .social-items ul li .rss {
            background-position: -44px -325px; }
          footer .first-row .social .social-items ul li .ytb {
            background-position: -44px -355px; }
    footer .first-row .opening {
      margin-left: 4.8%;
      margin-bottom: 64px;
      width: 23%;
      /*payment*/ }
      footer .first-row .opening span {
        display: inline-block;
        background: url(../img/icons.png) no-repeat no-repeat -43px -381px;
        width: 12px;
        height: 12px;
        margin-right: 19px; }
      footer .first-row .opening .empty {
        background: transparent; }
      footer .first-row .opening .payment {
        margin-top: 45px; }
        footer .first-row .opening .payment ul {
          margin-top: 8px; }
          footer .first-row .opening .payment ul li {
            display: inline-block;
            height: 31px;
            margin-top: 10px; }
            footer .first-row .opening .payment ul li .mc, footer .first-row .opening .payment ul li .discover, footer .first-row .opening .payment ul li .ae, footer .first-row .opening .payment ul li .visa, footer .first-row .opening .payment ul li .stripe, footer .first-row .opening .payment ul li .oo, footer .first-row .opening .payment ul li .jcb {
              width: 46px;
              height: 31px;
              background-position: -25px -1px;
              margin: 0;
              margin-right: 20px; }
            footer .first-row .opening .payment ul li .discover {
              background-position: -25px -39px; }
            footer .first-row .opening .payment ul li .ae {
              background-position: -25px -79px; }
            footer .first-row .opening .payment ul li .visa {
              background-position: -25px -116px; }
            footer .first-row .opening .payment ul li .stripe {
              background-position: -25px -154px; }
            footer .first-row .opening .payment ul li .oo {
              background-position: -25px -191px; }
            footer .first-row .opening .payment ul li .jcb {
              background-position: -26px -225px; }
  footer .second-row {
    text-align: center;
    background: #1f1e1e;
    line-height: 1;
    padding: 40px 0 33px; }
    footer .second-row ul {
      margin-bottom: 40px; }
      footer .second-row ul li + li {
        margin-left: 25px; }
      footer .second-row ul li {
        display: inline-block; }
        footer .second-row ul li a {
          color: #fff; }

@media only screen and (max-width: 1140px) {
  nav .nav-categories {
    padding-right: 0; }

  .slider-container .caption .caption-items .caption-item + .caption-item {
    margin-left: 14px; }
  .slider-container .caption .caption-items .caption-item {
    font-size: 13px; }

  .second-column .offer .heading h5,
  .second-column .new-products .heading h5,
  .second-column .latest-products .heading h5,
  .second-column .featured .heading h5,
  .first-column .hot-deals .heading h5,
  .first-column .special-deal .heading h5,
  .first-column .newsletters .heading h5 {
    font-size: 16px; }

  .item-container .heading .arrows button, .categories .heading .arrows button, .first-column .hot-deals .heading .arrows button, .first-column .special-deal .heading .arrows button, .first-column .newsletters .heading .arrows button, .first-column .ad .heading .arrows button, .second-column .new-products .heading .arrows button, .second-column .latest-products .heading .arrows button, .second-column .featured .heading .arrows button, .second-column .sale .sale-item .heading .arrows button, .second-column .offer .heading .arrows button {
    width: 16px;
    height: 16px; }
  .item-container .heading .arrows .prev, .categories .heading .arrows .prev, .first-column .hot-deals .heading .arrows .prev, .first-column .special-deal .heading .arrows .prev, .first-column .newsletters .heading .arrows .prev, .first-column .ad .heading .arrows .prev, .second-column .new-products .heading .arrows .prev, .second-column .latest-products .heading .arrows .prev, .second-column .featured .heading .arrows .prev, .second-column .sale .sale-item .heading .arrows .prev, .second-column .offer .heading .arrows .prev {
    background-position: 2px -96px; }
  .item-container .heading .arrows .next, .categories .heading .arrows .next, .first-column .hot-deals .heading .arrows .next, .first-column .special-deal .heading .arrows .next, .first-column .newsletters .heading .arrows .next, .first-column .ad .heading .arrows .next, .second-column .new-products .heading .arrows .next, .second-column .latest-products .heading .arrows .next, .second-column .featured .heading .arrows .next, .second-column .sale .sale-item .heading .arrows .next, .second-column .offer .heading .arrows .next {
    background-position: 5px -115px; } }
@media only screen and (max-width: 992px) {
  header .header-item {
    float: none;
    margin-top: 40px; }
    header .header-item .search form {
      width: 100%; }

  nav ul li:not(.nav-categories) {
    display: none; }

  .second-column .new-products ul li + li, .second-column .latest-products ul li + li, .second-column .featured ul li + li {
    margin-left: 0; }

  .second-column .new-products ul, .second-column .latest-products ul, .second-column .featured ul {
    margin-right: 10px; }
    .second-column .new-products ul li, .second-column .latest-products ul li, .second-column .featured ul li {
      padding-left: 5px; }
      .second-column .new-products ul li a, .second-column .latest-products ul li a, .second-column .featured ul li a {
        font-size: 14px; }

  .second-column .offer {
    padding: 20px;
    background-size: 70%; }

  .second-column .featured {
    margin-bottom: 30px; }
    .second-column .featured .items .item {
      margin-bottom: 30px; }
      .second-column .featured .items .item a .caption, .second-column .featured .items .item a img {
        float: none;
        margin: 0 auto; }
      .second-column .featured .items .item a .caption {
        margin-top: 10px; }
        .second-column .featured .items .item a .caption p, .second-column .featured .items .item a .caption .stars {
          text-align: center; }

  footer .first-row .social {
    width: 12.7%; }
    footer .first-row .social .social-items ul {
      float: none; }
    footer .first-row .social .social-items ul + ul {
      margin-left: 0;
      margin-top: 0; }
  footer .first-row .opening {
    width: 30%; } }
@media only screen and (max-width: 768px) {
  header .header-items,
  header .header-items .user-info,
  header .header-item, header .header-item > *,
  header .logo {
    width: 100%;
    display: inline-block;
    float: left;
    margin: 10px auto;
    text-align: center; }
    header .header-items img,
    header .header-items .user-info img,
    header .header-item img, header .header-item > * img,
    header .logo img {
      margin: 0 auto; }

  nav ul {
    text-align: center; }
    nav ul .nav-categories {
      padding: 10px; }
      nav ul .nav-categories .menu {
        display: block; }
    nav ul li a {
      display: none; }

  .categories {
    display: none;
    width: 100%;
    text-align: center;
    padding-top: 15px; }
    .categories li {
      display: inline-block; }
      .categories li a {
        border: none;
        background: transparent;
        padding: 0 15px 15px; }

  .slider-container {
    margin-top: 10px;
    width: 100%; }
    .slider-container .caption .caption-items .caption-item {
      font-size: 11px; }

  .first-column, .second-column, .second-column .sale .sale-item {
    width: 100%; }

  .second-column .sale .sale-item + .sale-item {
    margin-left: 0; }
  .second-column .sale .sale-item .heading .border {
    display: none; }

  footer .first-row .center > div {
    width: 100%;
    float: none;
    margin: 15px 0; }
    footer .first-row .center > div .payment {
      margin-top: 0;
      margin: 15px 0; }
    footer .first-row .center > div ul > li {
      display: inline-block; }
      footer .first-row .center > div ul > li .phone, footer .first-row .center > div ul > li .email, footer .first-row .center > div ul > li .checkin, footer .first-row .center > div .contacts ul > li .phone, footer .first-row .contacts .center > div ul > li .phone, footer .first-row .center > div .contacts ul > li .email, footer .first-row .contacts .center > div ul > li .email {
        margin-left: 10px;
        margin-right: 5px; }
    footer .first-row .center > div .social-items ul li {
      padding-right: 10px; } }
@media only screen and (max-width: 480px) {
  header .header-item .cart {
    display: none; }

  .categories ul li {
    display: block;
    text-align: left; }

  .slider-container {
    width: 100%;
    height: auto; }
    .slider-container .slider div img {
      width: auto;
      height: 295px; }
    .slider-container .heading {
      position: absolute;
      top: 20px;
      left:10px; }
      .slider-container .heading h1 {
        font-size: 40px; }
      .slider-container .heading span, .slider-container .heading p {
        display: none; }
    .slider-container .caption {
      display: none; }

  .second-column .new-products .items .item, .second-column .latest-products .items .item, .second-column .featured .items .item {
    width: 100%;
    float: none; }
  .second-column .new-products .nav, .second-column .latest-products .nav, .second-column .featured .nav {
    display: none; }

  .second-column .offer {
    background-image: none; 
  text-align: center;}
    .second-column .offer .heading {
      text-align: center; 
      margin: 0 auto;
      float: none;
    }
    .second-column .offer .heading h5{
      text-align: center; 
      float: none;
    }

  .brands {
    display: none; }

  footer .second-row .center ul li {
    margin: 5px; }
  footer .second-row .center p {
    line-height: 1.62; } }

/*# sourceMappingURL=style.css.map */
