body{
	background: url(../img/bg-body.png);
	font:12px Arial, sans-serif;
	color:#fff;
	line-height: 20px;
}
.center{
	margin: 0 auto;
	max-width: 960px;
}
.wrapper{
	min-height:100%;
	height:100%;
	height:auto !important;
}
.container{
	padding-bottom:365px;
}


@bgDark: rgba(0,0,0,0.25);
@header-font: Georgia, sans-serif;
@header-color:#fff;
@header-color-2:#b2aaaa;
h1, h2, .cap{
    font-family: @header-font;
    font-style: italic;
    text-shadow: 1px 1.7px 0px rgba(0, 0, 0, 0.75);
    color:@header-color;
}
h2{
	font-size: 24px;
}
h1{
	font-size:36px;
}
.cap{
	font-size: 18px;
	line-height: 26px;
}
.dash{
			width: 100%;
			height:15px;
			clear:both;
			background: @bgDark;
			padding-top: 7px;
			span{
				display: block;
				width: 100%;
				height:3px;
				border-top:1px #575757 dashed;
			}
		}

header{
	width: 100%;
	height: 124px;
	background: url(../img/bg-header.png);
	padding-top:13px;
	.logo{
	display: inline-block;
		width: 33%;
		height: auto;
		img{
		width:100%;
		height:auto;
		}
	}
	.social{
		margin-top: 36px;
		display: inline-block;
		a{
			display: inline-block;
			width: 39px;
			height: 39px;
			background: #fff url(../img/icons.png) no-repeat;
	
			margin-right: 2px;
			-webkit-border-radius: 50%;
				-moz-border-radius: 50%;
					border-radius: 50%;
		}
		.fb{
			background-position: 0px 0px;
			&:hover{
				background-position:0px -50px;
			}
		}
		.tw{
			background-position: -45px 0;
			&:hover{
				background-position:-45px -50px;
			}
		}
		.dr{
			background-position: -90px 0;
			&:hover{
				background-position:-90px -50px;
			}
		}
		.mail{
			background-position: -135px 0;
			&:hover{
				background-position:-135px -50px;
			}
		}
		.rss{
			background-position: -180px 0;
			&:hover{
				background-position:-180px -50px;
			}
		}
	}
}
.header-line{
	background: url(../img/bg-header-line.png);
	height: 20px;
	width: 100%;
}
.button{
	background: #f4f4f4;
	border:none;
	padding:7px;
	color:#524f4f;
	font:12px Arial, sans-serif;
	text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.4);
	position: absolute;
	right:1px;
	top:1px;
	cursor: pointer;
}
.default{
	position: fixed;
	top:0;
}
nav{
	background: @bgDark;
	z-index:9999;
	width: 100%;
	margin: 0 auto;
	-webkit-box-shadow: inset 0px 3px 3px 0px #222;
		-moz-box-shadow: inset 0px 3px 3px 0px #222;
			box-shadow: inset 0px 3px 3px 0px #222;
	.nav{
		 margin-top: 35px;
		}
	
	ul li{
		display: inline-block;
		.btn{
			background: #232323;
			padding:10px;
			-webkit-border-radius: 10px;
			-moz-border-radius: 10px;
			border-radius: 10px;
			&:hover{
				background: #000;
			}
		}
		a{
			font:bold 12px Arial, sans-serif;
			color:#fff;
			text-transform: uppercase;
		}

	}
	ul li+li{
		margin-left: 33px;
	}
	
	form{
		position: relative;
		margin-top: 25px;
		input[type=search]{
			color: #524f4f;
			padding-left: 5px;
			background-color: rgba(25, 25, 25, 1);
			-webkit-box-shadow: 0px 1px 0px 0px rgba(255, 255, 255, 0.2), 
						inset 0px 1px 4px 0px rgba(0, 0, 0, 0.3);
				-moz-box-shadow: 0px 1px 0px 0px rgba(255, 255, 255, 0.2), 
						inset 0px 1px 4px 0px rgba(0, 0, 0, 0.3);
							box-shadow: 0px 1px 0px 0px rgba(255, 255, 255, 0.2), 
								inset 0px 1px 4px 0px rgba(0, 0, 0, 0.3);
			width: 250px;
			height: 30px;
			border:none;
			-webkit-appearance: textfield;	  
			}
 		
	}
	.center{
		margin-bottom: 25px;
	}
	.dash{
			width: 100%;
			height:15px;
			clear:both;
			background: @bgDark;
			padding-top: 7px;
			span{
				display: block;
				width: 100%;
				height:3px;
				border-top:1px #575757 dashed;
			}
		}
}
.slider-wrap{
	margin-top:45px;
	width: 100%;
	position: relative;
	.slider{
		width: 100%;
		height: auto;
		img{
			width: 100%;
		height: auto;	
		}
	}
	.slide-shadow{
		width: 100%;
		height: auto;
		img{
			margin: 0 auto;
			width: 100%;
			height: auto;
		}
	}
}
.intro{
	text-align: center;
	margin-top: 70px;
	margin-bottom: 50px;
	.cap{
		margin-top: 9px;
	}
	h1{
		line-height: 1.2;
	}
}
.services{
	background: @bgDark;
	.center{
		padding: 18px 0 26px;
	}
		.left-serv{
			width: 32.8%;
			h1{
			color:@header-color-2;
			}
			.descr{
			margin-top: 17px;
			}
		}
		.right-serv ul {
			a{
				color:#fff;
				&:hover{
					color:#c23528;
					-webkit-transition: 0.2s ease-in-out;
					-moz-transition: 0.2s ease-in-out;
					-ms-transition: 0.2s ease-in-out;
					-o-transition: 0.2s ease-in-out;
					transition: 0.2s ease-in-out;
					
					overflow: visible;
					text-shadow: 0 0 10px #ff401a, 0 0 50px #ff9b1a;
				}
			}
			li+li{
				margin-left: 30px;
			}
			li{
				display: inline-block;
				background: url(../img/icons.png) no-repeat;
				text-align: center;
				min-width:75px;
				padding-top: 60px;
			}
			.ic-1{
				background-position: 2px -111px;
			}
			.ic-2{
				background-position: -99px -111px;
			}
			.ic-3{
				background-position: -213px -113px;
			}
			.ic-4{
				background-position: -311px -113px;
			}
			.ic-5{
				background-position: -403px -113px;
			}
			.ic-6{
				background-position: -494px -113px;
			}

		}
	
}
.projects{
	margin-top: 65px;
	.project-item+.project-item{
		margin-left: 3.7%;
	}
	.project-item{width: 30.2%; position: relative;}
	.img{
		position: relative;
		width: 100%;
		height: auto;
		
		img{
			width: 100%;
			height: auto;
		}
		.launch{
    	position: absolute;
    	bottom:0;
    	left: -5px;
	    background: url(../img/launch.png) no-repeat;
	    width: 169px;
	    height: 44px;
	    text-transform: uppercase;
	    color:#111111;
	    font-weight:bold;
 		padding:10px 17px;
    	}
    }
	.img-shadow{
		background: url(../img/img-shadow.png) no-repeat;
		width: 100%;
		height: 14px;
		margin: 0 auto 20px;
		padding: 0 5px;
    	display: inline-block;
    	text-align: center;
		background-size: cover;
    }
    .proj-descr{
    	margin-top: 20px;
    	max-width: 213px;
    	a{
    		&:hover h2{
    			color:#c23528;
    		}
    	}
    }
    h2{
    	margin-bottom: 15px;
    }
}
.like{
	position: absolute;
	right:0;
	top:198px;
	text-align: center;

	div{
		width: 39px;
		height: 39px;
		-webkit-border-radius: 50%;
			-moz-border-radius: 50%;
				border-radius: 50%;
		background: url(../img/icons.png) no-repeat -235px 2px,
					url(../img/bg-header.png);
		margin: 0 auto;
		}
	p{
		color:#b2aaaa;
		text-align: center;
	}
	div:hover{
		background: url(../img/icons.png) no-repeat -235px -48px,
				url(../img/bg-header.png);
	}
	
}
.twit{
	position: relative;
	background: url(../img/bg-twit.png);
	-webkit-border-radius:4px;
	-moz-border-radius:4px;
	border-radius:4px;
	padding:20px 30px 20px 31px;
	margin-top: 55px;
	margin-bottom: 100px;
	.cap{
		width: 85.8%;
		text-shadow:none;
		display: inline-block;
		float: left;
		
		}
	a{
		color:#232323;
	}
	.twit-icon{
		width: 52px;
		height: 44px;
		background: url(../img/icons.png) no-repeat -281px 5px;
		display: inline-block;
		float: left;
		margin-right: 2.3%;
	}
}
.home-link{
	position: relative;
	text-align: right;
		a{
			position: absolute;
			bottom: 0;
			right:10px;
			color:#111111;
			font-weight: bold;
			background: url(../img/bg-header.png);
			padding: 10px 5px;
			-webkit-border-top-left-radius: 4px;
			-webkit-border-top-right-radius: 4px;
			-moz-border-radius-topleft: 4px;
			-moz-border-radius-topright: 4px;
			border-top-left-radius: 4px;
			border-top-right-radius: 4px;
		}
}
footer{
	background: @bgDark;
	margin-top:-365px;
	.center{
		margin-top: 24px;
	}
	.foot-item+.foot-item{
		margin-left: 3.1%;
		position: relative;
		.separate{
			position: absolute;
			left:-15px;
			top:5px;
			height: 195px;
			width: 1px;
			border-left: 1px dashed #5b5b5b;
		}
	}
	
	.foot-item{
		width: 29.1%;
		line-height: 20px;

		h2{
			line-height: 26px;
			color:@header-color-2;
		}
		.foot-descr{
 			margin-top: 10px;
 			margin-bottom: 23px;
	 	}
		.foot-item-descr{
			position: relative;
			padding-left: 86px;
			.foot-item-img{
				position: absolute;
				left:0;
				width: 68px;
	 			height: 68px;
	 			border:3px solid #4f4f4f;
	 			-webkit-border-radius:3px;
	 			-moz-border-radius:3px;
	 			border-radius:3px;
	 		}

			.descr{
				margin-top: 10px;
				margin-bottom: 31px;
				span{
					color:@header-color-2;
				}
			}
		}
		.f-i-d-1{
			margin-top:8px;
			margin-bottom: 10px;
			.foot-item-img{
				background: url(../img/img-7.jpg) no-repeat;
			}
		}
		.f-i-d-2{
			.foot-item-img{
				background: url(../img/img-8.jpg) no-repeat;
			}
		}
		.f-i-d-3{
			position: relative;
			padding-left: 132px;
			margin-top: 17px;
			a{
				color:#fff;
			}
			.mobile{
				position: absolute;
				left:14px;
				width: 136px;
				height: 161px;
				top:0;
				background: url(../img/mobile.png) no-repeat;
			}
			.like{
				position: absolute;
				right: 21px;
    			top: 56px;
				background: url(../img/icons.png) no-repeat -347px -2px,
							url(../img/bg-header.png);
							&:hover{
								background: url(../img/icons.png) no-repeat -347px -51px,
								url(../img/bg-header.png);
							}
			}
		}
		button{
			position: relative;
			&:hover{
				-webkit-transition-duration: 0.3s;
			    transition-duration: 0.3s;
			    -webkit-transition-property: border-radius;
			    transition-property: border-radius;
			    -webkit-transform: translateZ(0);
			    transform: translateZ(0);
			    -webkit-border-radius:8px;
			    -moz-border-radius:8px;
			    border-radius:8px;
			}
		}
	}
	.last-foot-item{
			width: 31.2%;
		}
	.copyright{
		padding-bottom: 4px;
		width: 100%;
		text-align:center;
		margin-top: 70px;
		font-size: 10px;
		color:#726f6f;
		position: relative;
		line-height: 17px;
		.copyright-wrap{
			margin: 0 auto;
			display: inline-block;
			text-align: center;
			width: 52%;
			.foot-logo{
					display: inline-block;
					float: left;
					width: 50px;
					height: 40px;
					background: url(../img/icons.png) no-repeat -401px 0px;
					margin-right: 6.2%;
				}
				div{
					display: inline-block;
					float: left;
					width: 81.2%;
				}
			}
	}
}
/*Popup*/
#openModal{
 position: fixed;
 top: 0;
 right: 0;
 bottom: 0;
 left: 0;
 background: rgba(0,0,0,0.5);
 z-index: 99999;
 -webkit-transition: opacity 400ms ease-in;
 -moz-transition: opacity 400ms ease-in;
 transition: opacity 400ms ease-in;
 display: none;
 pointer-events: none;
}
#openModal:target {
 display: block;
 pointer-events: auto;
}
#openModal div {
	.border-radius{
		-webkit-border-radius: 4px;
			-moz-border-radius: 4px;
				border-radius: 4px;
	}	
	 position: relative;
	 width:400px;
	 margin: 5% auto;
		form{
 		text-align: center;
		input, textarea{
			margin-bottom: 20px;
			width: 100%;
		    text-transform: uppercase;
		    padding: 12px;
		   	border:none;
   			.border-radius;
		}
		button{
			position: relative;
			margin: 0 auto;
			text-transform: uppercase;
			font-weight: bold;
			.border-radius;
			width: 100%;
		}
 	}

.close {
 background: #606061;
 color: #FFF;
 line-height: 25px;
 position: absolute;
 right: -12px;
 text-align: center;
 top: -10px;
 width: 24px;
 text-decoration: none;
 font-weight: bold;
 .border-radius;
 -moz-box-shadow: 1px 1px 3px #000;
 -webkit-box-shadow: 1px 1px 3px #000;
 box-shadow: 1px 1px 3px #000;
}
.close:hover { background: #c23528; }
}

@media only screen and (max-width: 992px){
	.center, .services .center{
		padding: 0 15px;
	}
	header {
	.logo{
		width:auto;
		height:100%;
		}
	.social a{
		margin:0;
	}
	}

	nav{
		.nav ul {
			li+li{margin-left: 15px;}
			li a{
					font-size:10px;
				}
			}
	}
	.services {
		.right-serv{
			text-align: center;
			float: none;
			ul li{padding: 60px 10px 10px;}
			ul li+li{
				margin-left: 0;
			}
		}
		.left-serv{
			text-align: center;
			width: 100%;
			padding: 20px;
		}
	}
		.twit{
			padding: 20px 30px 20px 31px;

		}
	
	footer{
		.copyright{
			margin-top: 40px;
			.copyright-wrap,
			.copyright-wrap div{
				width: 100%;
			}
			.copyright-wrap .foot-logo,
			.copyright-wrap div{
				display: block;
				float: none;
				text-align: center;
				margin: 0 auto;
			}
			.copyright-wrap .foot-logo{
				margin-bottom: 10px;
			}
		}
		.foot-item .f-i-d-3 .mobile{
			left:-9px;
		}
	}

}
@media only screen and (max-width: 768px){
	header {
		height: auto;
		padding: 15px;
	.logo{
		width:100%;
		height:auto;
		margin:0 auto;
		float:none;
		text-align: center;
		img{
			width: 30%;
			height: auto;
			text-align: center;
			margin:0 auto;
		}
		}
	.social {
		width:100%;
		float: none;
		text-align: center;
		margin: 0;
		a{
			margin:0;
		}
	}
	}

	nav{
		.nav{
			width: 100%;
			height: auto;
			padding: 15px;
			margin: auto;
			ul{
				text-align: center;
				li:last-child{
					margin: 10px;
				}
			}
		}

		.search{
			
			width: 100%;
			height: auto;
			display: inline-block;
			text-align: center;
			form{
				width: 100%;
				margin: 0;
				position: relative;
				float: none;
				input{
					width: 100%;
				}
			}
		}
		


	}

	.projects {
		margin-top: 20px;
		.project-item + .project-item{
			margin-left: 0;
		}
		.project-item{
			text-align: center;
			float: none;
			width: 100%;
				height: auto;
				.img .launch{
					display: none;
				}
			.img-shadow{
				display: none;
			}
			.proj-descr{
				width: 100%;
				height: auto;
				margin: 15px auto;
			}
			.like{
				position: relative;
				top:0;
				right:0;
				text-align: center;
				margin: 10px  auto;
			}
			}
	}
	.twit{
		text-align: center;
		.twit-icon,.cap{
			vertical-align: top;
			float: none;
		}
		.twit-icon{
			margin-bottom: 10px;
		}
	}

	footer{
		.separate{
			display: none;
		}
		.foot-item+.foot-item{
			margin-left: 0;
		}
		.last-foot-item,
		.foot-item{
			padding: 20px;
			width: 100%;
			float: none;
		}

	}
}
@media only screen and (max-width: 480px){}
