.slider {
 z-index: 9;
 width: 1440px;
 height: 690px;
 overflow: hidden;
 margin: 0 auto;
 }
 .slider ul,
 .slider li {
 padding: 0;
 list-style-type: none;
 }
 .slider ul {
 width: 9999px; 
 }
 .slider ul li {
 	position: relative;
 list-style-type: none;
 float: left;
 margin: 0 auto;
 padding: 0;
 overflow: hidden;
 width: 100%;
 margin:0 auto;
 height: auto;
 }
.slider ul li img{
	width: auto;
	height: 100%;
	margin: 0 auto;
	float:left;
}
.slider ul .li-wrap{
	width: 100%;
}
 .slider .nav {
 position: absolute;
 left: 46%;
 bottom: 35px;
 }
 .slider .nav span {
 opacity: 0.9;
 background: #b2b2b2;
 margin: 0 10px 0 0;
 width: 13.4px;
 height: 13.4px;
 cursor: pointer;
 overflow: hidden;
 display: block;
 float: left;
 -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
 }
 .slider .nav span.on {
 background: #000;
 }